.phone__grid{
    display: grid;
    place-items: center;

    grid-gap: 1vw;
    padding: 5px;
}

.link{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links{
    display: flex;
    gap: .5vw;
}

.links a{
    text-decoration: none;
    color: inherit;
    font-size: initial;
}

.links img{
    height: 5vh;
    width: 5vh;
}

.link-main{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
    border: 1px solid #fff;
    padding: 2px;
    background: #fff;
}